{% extends 'index.html' %}
{% block input_form %}
<div class="card mt-5 text-center">
    <div class="card-header">Delete Item</div>
    <div class="card-body">
        <form action="{{ url_for('deleteItem', category = category, item_id = item_id) }}" method="POST">
            <h5>Are you sure you want to delete this item?</h5>
            <button class="btn btn-danger" type="submit" name="answer" value="yes">Yes</button>
            <button class="btn btn-secondary" type="submit" name="answer" value="no">No</button>
        </form>
{% endblock %}