{% extends 'index.html' %}
{% block input_form %}
    <div class="card mt-5 text-center">
        <div class="card-header">Edit Existing Item</div>
        <div class="card-body">
            <form action="{{ url_for('editItem', category = category, item_id = item.id) }}" method="POST">
                <div class="form-group">
                    <label for="itemName">Item name</label>
                    <input type="text" id="itemName" name="name" value="{{ item.name }}" placeholder="{{ item.name }}" required>
                </div>
                <div class="form-group">
                    <label for="itemDescription">Description</label>
                    <textarea id="itemDescription" rows="3" name="description" placeholder="{{ item.description }}" required>{{ item.description }}</textarea>
                </div>
                <button class="btn btn-primary" type="submit">Save changes</button>
                <button class="btn btn-secondary" type="button" onclick="location.href='{{ url_for('showItems', category=category) }}';">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}