<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
</head>
<body>
    <form action="{{ url_for('editItem', category = category, item_id = item.id) }}" method="POST">
        <input type="text" name="name" placeholder="{{ item.name }}">
        <input type="text" name="description" placeholder="{{ item.description }}">
        <input type="hidden" name="user_id" value="1">
        <button type="submit">Save changes</button>
        <a href="{{ url_for('showItems', category = category) }}">Cancel</a>
    </form>
</body>
</html>