<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <h2>{{ category_name }}</h2>
    <a href="{{ url_for('addItem', category = category_name) }}">Add new item</a>
    <a href="{{ url_for('showCategories') }}">Categories</a>
    <ul>
        {% for item in items %}
        <li>
            <div>
                <p>{{ item.name }}</p>
                <p>{{ item.description }}</p>
                <a href="{{ url_for('editItem', category=category_name, item_id=item.id) }}">Edit</a>
                <a href="#">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>    
</body>
</html>